 <div class="footbar navbar navbar-fixed-bottom">
 	<p class="nav dis">The opinions stated here are my own and not those of my employers.</p>
    <p class="nav pull-right copy">©duncanbeaton.com</p>
</div>