<div class="footbar span8"></div>
 	<p class="dis">The opinions stated here are my own and not those of my employers.</p>
    <p class="copy"><a href="http://duncanbeaton.com">©duncanbeaton.com</a></p>
    <div style="clear: both;"></div>
</div>