<div id="logo" class="span6">dunckr*</div>
<div class="menu-bar span5">
	<a href="https://twitter.com/dunckr" alt="@dunckr"><i class="icon-twitter icon-4x"></i></a>
	<a href="http://github.com/dunckr" alt="github/dunckr"><i class="icon-github icon-4x"></i></a>
	<a href="mailto:d" alt="Message"><i class="icon-envelope-alt icon-4x"></i></a>  
</div>




<!-- <row>
  <div id="logo">dunckr*</div>
</row>
<row>
  <div class="menu-bar">
    <a href="https://twitter.com/dunckr" alt="@dunckr"><i class="icon-twitter icon-4x"></i>
</a>
    <a href="http://github.com/dunckr" alt="github/dunckr"><i class="icon-github icon-4x"></i></a>
    <a href="mailto:d" alt="Message"><i class="icon-envelope-alt icon-4x"></i></a>  
  </div>
</row>
 -->